<ion-menu side="left" id="authenticated" [content]="content">
    <ion-header>
        <ion-toolbar class="user-profile">

            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <div class="user-avatar">
                            <img [src]="photoUrl">
                        </div>
                    </ion-col>
                    <ion-col padding-top col-8>
                        <h2 ion-text class="no-margin bold text-white">
                                {{username}}
                        </h2>
                        <!-- <span ion-text color="light">Customer</span> -->
                    </ion-col>
                </ion-row>

                <ion-row no-padding class="other-data">
                    <!-- <ion-col no-padding class="column">
                        <button ion-button icon-left small full color="light" menuClose disabled>
                            <ion-icon name="contact"></ion-icon>
                            Edit Profile
                        </button>
                    </ion-col> -->
                    <ion-col no-padding class="column">
                        <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                            <ion-icon name="log-out"></ion-icon>
                            Log Out
                        </button>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-toolbar>
    </ion-header>

    <ion-content color="primary">

        <ion-list class="user-list">
            <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
                <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
                <span ion-text color="primary">{{menuItem.title}}</span>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- <ion-menu [content]="content" side="left" id="menu1">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{userName}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name=""></ion-icon>
                {{p.title}}
                <ion-icon [name]="p.icon" item-right></ion-icon>
            </ion-item>
            <ion-item menuClose (click)="sair()">
                <ion-icon name=""></ion-icon>
                Sair
                <ion-icon name="lock" item-right></ion-icon>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu> -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>